@model Course
@{

  
    ViewData["Title"] = "New";
    //SelectList deptItems = new SelectList(ViewBag.DeptList, "Id", "Name");
}
<div class="container" style="background-color:burlywood">
    <h1>New Course</h1>
    <form method="post" asp-controller="course" asp-action="New" asp-route-id="@Model?.Id">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="Degree"></label>
            <input asp-for="Degree" class="form-control" />
            <span asp-validation-for="Degree" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="minDegree"></label>
            <input asp-for="minDegree" class="form-control" />
            <span asp-validation-for="minDegree" class="text-danger"></span>

        </div>
       @* <div>
            <label asp-for="dept_id">DeptName</label>
      
            <select asp-for="dept_id" class="form-control" asp-items="deptItems"></select>
            <span asp-validation-for="dept_id" class="text-danger"></span>

        </div>*@

        <div>
            <label for="dept_Id" class="form-label">Department</label>

            <select id="dept_Id" name="Dept_Id" class="form-control">
                @foreach (var dept in ViewBag.Depts)
                {
                    <option value="@dept.Id">@dept.Name</option>
                }
            </select>
            <span asp-validation-for="dept_id" class="text-danger"></span>
        </div>

        <input type="submit" value="Add" class="btn btn-outline-success mt-3" />
   

</form>
</div>

<!-------Js Validation Client Side Library -------->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


